extends layout
block content
    script(src='/javascripts/backend.js')
    h1= 'Secure Data Market Backend'
    div(id='content')
        div(id='description')
        div(id='price')
        div(id='url')