doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='/javascripts/web3.1.0.beta.min.js')
    script(src='/javascripts/jquery.min.js')
  body
    block content